<form class="ui form"
[formGroup]="measureForm"
(ngSubmit)="submitForm()">

  <mat-form-field appearance="outline">
    <mat-label>Netz</mat-label>
    <input matInput placeholder="Bez. d. Maßnahme">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Bezeichnung</mat-label>
    <input matInput placeholder="Bez. d. Maßnahme">
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>Beginn</mat-label>
    <input matInput placeholder="02.08.2022">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ende</mat-label>
    <input matInput placeholder="02.08.2022">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Von ZMST</mat-label>
    <input matInput placeholder="AHI">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Bis ZMST</mat-label>
    <input matInput placeholder="02.08.2022">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Linie</mat-label>
    <input matInput placeholder="RB 71">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ausfall-Kilometer</mat-label>
    <input matInput placeholder="42">
  </mat-form-field>
</form>
