<div class="mat-card-wrapper">
  <form [formGroup]="signupForm" (ngSubmit)="signupUser(signupForm.value)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Registrieren</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="dirk.stricker@nordbahn.de">
          <mat-error *ngIf="signupForm.get('email').hasError('email') && !signupForm.get('email').hasError('required')">
            Bitte eine gültige Email eingeben
          </mat-error>
          <mat-error *ngIf="signupForm.get('email').hasError('required')">
            Email ist <strong>notwendig</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Passwort</mat-label>
          <input matInput [type]="pwHide ? 'password' : 'text'" formControlName="password" [errorStateMatcher]="matcher">
          <button mat-icon-button matSuffix (click)="pwHide = !pwHide" [attr.aria-label]="'Passwort verbergen'" [attr.aria-pressed]="pwHide">
            <mat-icon>{{pwHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="signupForm.get('password').hasError('password') && !signupForm.get('password').hasError('required')">
            Bitte korrektes Passwort eingeben
          </mat-error>
          <mat-error *ngIf="signupForm.get('password').hasError('required')">
            Passwort ist <strong>notwendig</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Vorname</mat-label>
          <input type="text" matInput formControlName="firstName" placeholder="Dirk">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nachname</mat-label>
          <input type="text" matInput formControlName="lastName" placeholder="Stricker">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Telefon</mat-label>
          <input type="text" matInput formControlName="phone" placeholder="04039901820">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Fax</mat-label>
          <input type="text" matInput formControlName="fax" placeholder="04039901820">
        </mat-form-field>
        <div class="button-bar">
          <button class="buttons" id="signup-button" type="submit" mat-raised-button color="primary">Registrieren</button>
          <button class="buttons" type="button" mat-raised-button color="accent" routerLink="../login" routerLinkActive="active">Abbrechen</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
