<div>
  <mat-form-field appearance="fill">
    <mat-label>Suche</mat-label>
    <input matInput placeholder="Suchwort eingeben" (keyup)="applyFilter($event)">
  </mat-form-field>
  <table mat-table [dataSource]='dataArray' class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Bezeichnung</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="railnetwork">
      <th mat-header-cell *matHeaderCellDef>Netz</th>
      <td mat-cell *matCellDef="let element"> {{element.railNetwork.name}} </td>
    </ng-container>

    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef>Beginn</th>
      <td mat-cell *matCellDef="let element"> {{element.start | date: 'dd.MM.yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef>Ende</th>
      <td mat-cell *matCellDef="let element"> {{element.end | date: 'dd.MM.yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef>Von ZMST</th>
      <td mat-cell *matCellDef="let element"> {{element.startPoint.rl100}} </td>
    </ng-container>

    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef>Bis ZMST</th>
      <td mat-cell *matCellDef="let element"> {{element.endPoint.rl100}} </td>
    </ng-container>

    <ng-container matColumnDef="line">
      <th mat-header-cell *matHeaderCellDef>Linie</th>
      <td mat-cell *matCellDef="let element"> {{element.line}} </td>
    </ng-container>

    <ng-container matColumnDef="km">
      <th mat-header-cell *matHeaderCellDef>Ausfallkilometer</th>
      <td mat-cell *matCellDef="let element"> {{element.km}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="editMeasure(row)"
      *matRowDef="let row;
      columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
<div class="">
  <button mat-raised-button color="primary" routerLink="create/"  routerLinkActive="active">Maßnahme anlegen</button>
  <button mat-raised-button color="accent">Maßnahme bearbeiten</button>
</div>
